# Ignore all __pycache__ directories in all folders and subfolders
**/__pycache__/

# Ignore the virtual environment folder
venv/

# Ignore all files in dbschema/migrations/ directory
dbschema/migrations/*

# Ignore the lol.py file
LOL/

# Ignore the .env file
.env
